.appointment {
    color: white;
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
}

.fields {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.timeslot {
    border-radius: 25px;
    padding: 10px;
}

.dropdownBtn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdownBtn:hover {
    background-color: #2980b9;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdownContainer:hover .dropdownContent {
    display: block;
}

.dropdownContainer {
    position: relative;
    display: inline-block;
}

.doctorBox {
    display: inline-block;
}

.doctor {
    border-radius: 25px;
    padding: 10px;
}